<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Cats Blog</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesoeet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="container-fluid header_main">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="logo" href="/home"><img style="width: 100px; height: 100px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/42a90bd0-7547-46e6-b670-f76805a7f1de/datnw9e-67fbd1a7-36c6-4326-9b92-45306a0a19f8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQyYTkwYmQwLTc1NDctNDZlNi1iNjcwLWY3NjgwNWE3ZjFkZVwvZGF0bnc5ZS02N2ZiZDFhNy0zNmM2LTQzMjYtOWI5Mi00NTMwNmEwYTE5ZjgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OgCXotK8JgDRdPDTfcbqFjeQLpEpb_nkMSPcXnGo4h8"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/create">Add Blog</a>
                     </li>
                  </ul>
<ul>
</ul>
                  <ul class="navbar-nav mr-auto">
                  
                     <li class="nav-item">
                        <a class="nav-link" href="/user/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/user/register">Register</a>
                     </li>

                  </ul>
               </div>
            </nav>
           <form method="GET" action="/home">
                        <input type="text" name="nameSearch" placeholder="Search" type="search">
                    <button type="submit" ; ><img src="https://cdn-icons-png.flaticon.com/512/3031/3031293.png" style="width: 30px"></button>
                      </form>
         </div>
         <!-- banner section start --> 
         <div class="container-fluid">
            <div class="banner_section layout_padding">
             
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="image_main">
                           <div class="container">
                              <img src="https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageHERO.jpg" class="image_1"> 
      </div>
      
      <!-- header section end --> 
      <!-- blog section start --> 
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <% blogs.map(item =>{ %>
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img" ><img src="<%=item.image%>" style="width: 700px;height: 400px;"></div>
                  <div class="like_icon"><img src="images/like-icon.png"></div>
                  <p class="post_text"></p>
                   <h5 class="most_text">Tag :  #<%=item.nameTag%></h5>
                  <h2 class="most_text"><br><%=item.name%></h2>
                  <p class="lorem_text"><%=item.content%></p>
                 
                  <div class="social_icon_main">
                     <div class="social_icon">
                     </div>
           
                  </div>
               </div>



               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
               
                     <div class="follow_icon">
                        <ul>
                           <li><a href="blog/delete/<%=item.idBlog%>"><img style="width: 35px; height: 35px;" src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png"></a></li>
                           <li><a href="blog/edit/<%=item.idBlog%>"><img  style="width: 35px; height: 35px;" src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png"></a></li>
                          
                        </ul>
                     </div>
                  </div>
               </div>
               <%})%>


            </div>
         </div>
      </div>
      <!-- blog section end --> 
     
    
     
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
            <div class="footer_menu">
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="features.html">Features</a></li>
                  <li><a href="contact.html">contact us</a></li>
               </ul>
            </div>
            <div class="contact_menu">
               <ul>
                  <li><a href="#"><img src="images/call-icon.png"></a></li>
                  <li><a href="#">Call : +01 1234567890</a></li>
                  <li><a href="blog.html"><img src="images/mail-icon.png"></a></li>
                  <li><a href="features.html">demo@gmail.com</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2020 All Right Reserved By.<a href="https://html.design"> Free  html Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>